.wrapper{
  background-color: var(--secondary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 2px solid var(--primary-color);
  width: 100%;
}
.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}