.subheaderList{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  justify-content: center;
  margin-top: 70px;
}
.subheaderItem{
  margin: 0 12px;
  color: var(--text-color);
  font-size: 14px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.wrapper{
  width: 100%;
  background-color: var(--primary-color);
  height: 30px;
}
.subLinks{
  color: var(--text-color);
  font-size: 14px;
}
.linkBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width:	1025px){
  .wrapper{
    display: none;
  }
}

